body{
    font-size: 20px;
    font-family: monospace;
}

#searchOption{
    border: 3px solid red;
    margin: 3.5%;
    width: 1400px;
    position: absolute;
    padding: 10px;
}

#single{
    font-size: 1.5em;
    font-weight: bolder;
    width:auto;
    border: 3px solid black;
}
#single:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#combo{
    font-size: 1.5em;
    font-weight: bolder;
    width: auto;
    border: 3px solid black;
}
#combo:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}
